
*{ box-sizing: border-box; margin: 0; padding: 0;}
body{ margin: 0; padding: 0; font-family: 'Ubuntu', sans-serif; font-size: 14px; color: #fff;}
a{ text-decoration: none; color: #fff;}
h1, h2, h3, h4, h5, h6{margin: 0; padding: 0; font-weight: normal;  font-family: 'Ubuntu', sans-serif;}
p{margin: 0; padding: 0;} 
.clear{ clear: both;}
ul{ 
    margin: 0; padding: 0;    
}
ul li{
    list-style: none; margin: 0; padding: 0;
}
.p-t{ padding-top: 80px;}
.p-b{ padding-bottom: 80px;}
.p-l{ padding-left: 35px;}
.p-r{ padding-right: 35px;}
.logo{ width: 100%; text-align: center; float: left; }
.logo img{ display: inline-block; width: 168px; }
.content-area{
  width: 100%; height: 1024px; float: left; position: relative;
}
.spalsh-screen{
  width: 100%; height:100vh; position: fixed; top: 0; left: 0; background-image: url(../images/main-bg.jpg); background-repeat: no-repeat; background-position: top center; background-size: cover; z-index: 10;
}

.spalsh-screen:before{
  background-color: rgba(24,20,57,.66); width: 100%; height: 100%; position: absolute; top: 0; left: 0; content: "";
}
.spalsh-screen .content-area{ height: 100%;}
.spalsh-screen .logo{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;}
.spalsh-screen:after{
  background: -moz-linear-gradient(top,  rgba(24,20,57,0) 0%, rgba(22,18,53,0.67) 67%, rgba(22,18,53,1) 100%); 
  background: -webkit-linear-gradient(top,  rgba(24,20,57,0) 0%,rgba(22,18,53,0.67) 67%,rgba(22,18,53,1) 100%); 
  background: linear-gradient(to bottom,  rgba(24,20,57,0) 0%,rgba(22,18,53,0.67) 67%,rgba(22,18,53,1) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00181439', endColorstr='#161235',GradientType=0 ); width: 100%; height: 160px; position: absolute; bottom: 0; left: 0; content: "";
  }
.spalsh-screen p{
  position: fixed; bottom: 35px; left: 0; width: 100%; text-align: center; font-size: 18px; z-index: 3; padding: 0 35px;
}
html {
    scroll-behavior: smooth;
}

.custom-button{
  width: 100%; height: auto; float: left;
}
.custom-button a{
  background: rgb(1,162,255);
background: -moz-linear-gradient(top,  rgba(1,162,255,1) 0%, rgba(1,91,255,1) 98%); 
background: -webkit-linear-gradient(top,  rgba(1,162,255,1) 0%,rgba(1,91,255,1) 98%); 
background: linear-gradient(to bottom,  rgba(1,162,255,1) 0%,rgba(1,91,255,1) 98%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01a2ff', endColorstr='#015bff',GradientType=0 );

width: 100%; height: 80px; line-height: 80px; text-align: center; border-radius: 100px; cursor: pointer; outline-style: none; border: none; float: left; color: #fff; font-size: 29px; font-weight: normal; font-family: 'Ubuntu', sans-serif;}
 
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.eot");
    src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Flaticon.woff2") format("woff2"),
         url("../fonts/Flaticon.woff") format("woff"),
         url("../fonts/Flaticon.ttf") format("truetype"),
         url("../fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}
  
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
  [class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
    font-style: normal;
  }

.flaticon-login-user:before { content: "\f100"; }
.flaticon-password:before { content: "\f101"; }
.flaticon-email:before { content: "\f102"; }
.flaticon-home:before { content: "\f103"; }
.flaticon-projects:before { content: "\f104"; }
.flaticon-reviews:before { content: "\f105"; }
.flaticon-contact:before { content: "\f106"; }
.flaticon-facebook:before { content: "\f107"; }
.flaticon-twitter:before { content: "\f108"; }
.flaticon-linkedin:before { content: "\f109"; }
.flaticon-pinterest:before { content: "\f10a"; }
.flaticon-web-development:before { content: "\f10b"; }
.flaticon-web-design:before { content: "\f10c"; }
.flaticon-web-ui-ux:before { content: "\f10d"; }
.flaticon-web-plugin:before { content: "\f10e"; }
.flaticon-logout:before { content: "\f10f"; }
.flaticon-user:before { content: "\f110"; }
.flaticon-services:before { content: "\f111"; }
.flaticon-left-arrow:before { content: "\f112"; }

.ovearlay{ width: 100%; height: 100%; background-color: rgba(25,21,44,.98); position: fixed; top: 0; left: 0; opacity: 0; visibility: hidden; 
  -webkit-visibility: hidden; transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out; z-index: 2;} 
.ovearlay.open{  opacity: 1; visibility: visible; -webkit-visibility: visible;  -webkit-visibility: visible;}

.all-page-wrapper{
  width: 100%; float: left; position: relative;     
}
.all-page-wrapper h1.title{
    text-align: center; height: 80px;line-height: 80px; font-size: 30px;
}


@media only screen and (max-width:420px){
  .p-t{ padding-top: 40px;}  
  .custom-button a{width: 200px; margin: 0 auto; float: none; display: block; height: 50px; line-height: 50px;     font-size: 20px; font-weight: normal;}
  .content-area{
    min-height: 644px; height: auto;
  }
  .all-page-wrapper h1.title{font-size: 24px;}
 
}
