.latest-projects-back, .tab-back{
    width: 100%; float: left;
}
.latest-projects-back .tab-back{
    background-color: #181439;
}
.latest-projects-back .tab-back li{
    width: 50%; float: left; 
}
.latest-projects-back .tab-back li a{ 
    text-align: center; padding: 30px 0; float: left; font-size: 25px; text-transform: capitalize; text-align: center; width: 100%;  position: relative;
}
.latest-projects-back .tab-back li a:after{
    width: 0%; height: 6px; background-color: #01b9ff; border-radius: 20px; position: absolute; bottom: 0; left: 0; right: 0; margin: auto; content: ""; 
    transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out;
}
.latest-projects-back .tab-back li.active a:after{
    width: 60%;
}
.latest-projects-back .main-content-area{
    width: 100%; min-height: 1px; float: left; background-image: url(../../images/project-bg.jpg); background-repeat: no-repeat; background-position: top center; background-size: cover; padding: 15px; 
}
.latest-projects-back .main-content-area .project-details-back{
    width: 100%; height: auto; float: left;  display: grid; grid-template-columns: 1fr 1fr; grid-gap: 15px; grid-row: auto;
}
.latest-projects-back .main-content-area .project-details-back .item{ width: 100%; box-shadow: rgba(0,0,0,29) 3px 0 8px;}
.latest-projects-back .main-content-area .project-details-back .item img{ width: 100%; display: block; border-radius: 5px;}

@media only screen and  (max-width:420px){
    .latest-projects-back .tab-back li a{
        font-size: 20px;
    }
}

