.about-inner-back{
    background-image: url(../../images/service-bg.jpg); background-repeat: no-repeat; background-position: top center; background-size: cover;
}
.about-inner-back:before{
    width: 100%; height: 100%; background-color: rgba(11,9,34,.46); position: absolute; top: 0; left: 0; content: "";
}
.about-inner-back, .image-back{
    width: 100%; float: left; position: relative;
}

.about-inner-back .image-back { overflow: hidden;}
.about-inner-back .image-back img{
    width: 100%; height: 556px; display: block; object-fit: cover; object-position: top right;
}
.about-inner-back .image-back:before{
    position: absolute; bottom: 0; left: 0; width: 100%; height: 74px; background-color: #060611; clip-path: polygon(100% 0, 0 100%, 100% 100%); -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%); content: "";
}
.about-inner-back .main-drescription-back, .section{
    width: 100%; float: left; text-align: center;
}
.about-inner-back .main-drescription-back .section{ padding: 50px 0;}
.about-inner-back .main-drescription-back h3{
    font-size: 32px; padding-bottom: 35px; margin-bottom: 35px; position: relative;
}
.about-inner-back .main-drescription-back h3:after{
    width: 130px; height: 6px; border-radius: 20px; position: absolute; bottom: 0; left: 0; right: 0; margin: auto; content: ""; background-color: #01b9ff;
}
.about-inner-back .main-drescription-back p{
    font-size: 16px; color: #adadad; width: 75%; display: inline-block; line-height: 31px;
}
.about-inner-back .main-drescription-back .section:first-child{ padding-bottom: 0;}
.about-inner-back .main-drescription-back .section:first-child .highlight-back{
    background-color: #014fb4; padding: 50px 0; margin-top: 50px; width: 100%; float: left;
}
.about-inner-back .main-drescription-back .section .custom-button{ margin-top: 40px;}
.about-inner-back .main-drescription-back .section .custom-button a{
    background-color: #e8e8e8; color: #014fb4; background-image: none; width: 80%; display: inline-block; float: none;
}
.about-inner-back .main-drescription-back .highlight-back p{ color: #fff; }

.about-inner-back .main-drescription-back .team-back{ margin-top: 50px; display: grid; grid-template-columns: 1fr 1fr;}
.about-inner-back .main-drescription-back .team-back, .team-port{ 
    width: 100%; height: auto; float: left; text-align: center;
}
.about-inner-back .main-drescription-back .team-back .team-port{ margin-bottom: 50px;}
.about-inner-back .main-drescription-back .team-back .team-port .image-back2{
    width: 187px; height: 187px; position: relative; display: inline-block; margin-bottom: 22px;
}
.about-inner-back .main-drescription-back .team-back .team-port .image-back2:before{
    width: 100%; height: 100%; border-radius: 100%; background-color: #015bff; position: absolute; top: 0; left: 9px; content: ""; box-shadow: rgba(1,185,255,.6) 1px 0 29px;
}
.about-inner-back .main-drescription-back .team-back .team-port .image-back2 img{
     width: 100%; height: 100%; position: absolute; top: 0; left: 0; border-radius: 100%;
}
.about-inner-back .main-drescription-back .team-back .team-port h5{ font-size: 22px; margin-bottom: 2px;}
.about-inner-back .main-drescription-back .team-back .team-port p{ font-size: 14px;}


@media only screen and (max-width:600px){
    .about-inner-back .main-drescription-back h3{ 
        font-size: 20px;
    }
    .about-inner-back .image-back img{
        height: 360px;
    }
}

@media only screen and (max-width:420px){
    .about-inner-back .main-drescription-back .section{
        padding: 40px 0;
    }
    .about-inner-back .main-drescription-back h3{ 
        font-size: 20px;
    }
    .about-inner-back .image-back img{
        height: 360px;
    }
    .about-inner-back .main-drescription-back p{
        width: 90%;
    }
    .about-inner-back .main-drescription-back .section .custom-button a{
        width: auto; padding: 0 80px;
    }
    .about-inner-back .main-drescription-back .team-back .team-port .image-back2{
        width: 120px; height: 120px;
    }
    .about-inner-back .main-drescription-back .team-back .team-port h5{ font-size: 18px;}
    .about-inner-back .main-drescription-back .team-back .team-port p{ font-size: 12px;}
}